body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
button{
    outline: none;
    border: none;
}
.navbar-brand img{
    width: 120px;
    /* position: fixed; */
    /* left: 20px; */
}
@media(max-width:992px){
    section:first-child{
        margin-top: 80px;
    }
    .services div .card {
        box-shadow: 2px 20px 60px rgba(225, 223, 225, 0.933), -20px -20px 60px #ffffff !important;
    }
    /* .services div {
        margin-left: 5px ;
    } */
}
@media(max-width:500px){
    .camera_wrap{
        margin-bottom: 0 !important;
    }
}
.back{
    background: #eeee;
    color: #111 !important;
}
@media(min-width:558px){
    .services div .card{
        border-radius: 50px;
        /* background: #e0e0e0; */
        box-shadow:  20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;
    }
    .about{
        margin-top: 100px;
    }
}
button{
    outline: none;
    border: none;
}
.navbar-light .navbar-toggler {
    color: transparent;
   
}
.navbar-toggler{
    border: none;
}
.nav-link{
    color: #fefefe ;
    font-size: 15px;

}
.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.navbar-nav li{
    font-weight: bold;
    color: #fefefe;
}
.camera_bar{
    display: none;
}
.camera_pag{
    display: none;
}

.container-custom1 {
	width: 90%;
	padding-right: var(--bs-gutter-x,.75rem);
	padding-left: var(--bs-gutter-x,.75rem);
	margin-right: auto;
	margin-left: auto;
}

.about h4{
    font-size: .9rem;
    line-height: 1.8;
    
}
.about h3{
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 20px;
}
.about_img img{
    margin-top: 20px;
    width: 100%;
}
.about_img{
    justify-content: center;
    display: flex;
    align-items: center;
}
.abt{
    margin: 50px 0px;
}
.parallax{
    background: url('../images/parallax-img-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    margin-bottom: 50px;
}
.cards{
    display: flex;
    justify-content: center;
}

.card {
	padding-right: 20px;
	display: flex;
	justify-content: center;
}

.services div .card{
    border-radius: 50px;
}
.card img {
	padding: 17px;
	margin-left: 9px;
	border-radius: 50px;
}
.card a{
    border-radius: 18px;
    padding: 12px;
    background-color: #111111d6;
    border: none;

}
.foot1{
    margin: 150px 20px 100px 20px;
    font-size: 15px;
}
.foot1 div:first-child{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.foot2{
    padding: 50px 10px;
    background-color: #111;
    color: #fefefe;
    font-size: 15px;
    font-style: italic;
}
a{
    text-decoration: none;
}
.foot1_icon{
    margin: 2px;
    
}
.contact a{
    margin-top: 25px;
}
address{
    line-height: 1.8;
}