body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar-brand img{
    width: 120px;
    /* position: fixed; */
    /* left: 20px; */
}
button{
    outline: none;
    border: none;
}
.navbar-light .navbar-toggler {
    color: transparent;
   
}
.nav-link{
    color: #fefefe !important;
    font-size: 1.2rem;

}
.navbar-nav li{
    font-weight: bold;
    color: #fefefe;
}
.camera_bar{
    display: none;
}
.camera_pag{
    display: none;
}

.container-custom1 {
	width: 90%;
	padding-right: var(--bs-gutter-x,.75rem);
	padding-left: var(--bs-gutter-x,.75rem);
	margin-right: auto;
	margin-left: auto;
}
.about{
    margin-top: 100px;
}
.about h4{
    font-size: 1rem;
    line-height: 1.8;
    
}
.about h3{
    text-transform: uppercase;
    font-weight: 800;
    padding-bottom: 20px;
}
.about_img img{
    height: 75%;
    margin-top: 20px;

}
.about_img{
    justify-content: center;
    display: flex;
    align-items: center;
}
.abt{
    margin: 50px;
}
.parallax{
    background: url('../images/parallax-img-1.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 300px;
    margin-bottom: 50px;
}
.services div {
	padding-right: 20px;
	display: flex;
	justify-content: center;
}
.services div .card{
    border-radius: 50px;
    /* background: #e0e0e0; */
    box-shadow:  20px 20px 60px #bebebe,
                -20px -20px 60px #ffffff;
}
.card img {
	padding: 17px;
	margin-left: 9px;
	border-radius: 50px;
}
.foot1{
    margin: 150px 20px 100px 20px;
}
.foot2{
    padding: 50px;
    background-color: #111;
    color: #fefefe;
}
a{
    text-decoration: none;
}